$color-green: #76CBC6;
$color-green-hover: #47BAB3;
$color-green-active: #8BBDBA;
$color-green-light: #D8E6E7;
$color-green-grey: #E3E9EB;
$color-blue-grey: #495A5B;
$color-blue-dark: #282A2E;
$color-red: #EC5252;
$color-red-hover: #CA2B23;
$color-red-active: #C36767;
$xx : #D8E6E7;

